################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/test_repo/v15/ipch/AutoPCH/3cf802b40ffc2ecc/B.ipch
/.vs/test_repo/v15/ipch/AutoPCH/f39e9155a9194097/A.ipch
/.vs/test_repo/v15/Browse.VC.db
/.vs/test_repo/v15/.suo
/.vs/test_repo/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
